@{
    ViewBag.Title = "Integração VExpenses";
}

<div class="row">
    <div class="col-md-3">
        <a class="main-icon" href="javascript:BuscarApi()">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Consultar vExpenses</span>
        </a>
    </div>

    <div class="col-md-3">
        <a class="main-icon" href="/Relatorio">
            <i class="fa-regular fa-file-lines"></i>
            <span>Relatório de despesas</span>
        </a>
    </div>


</div>